

body{
    background-color: rgb(182, 182, 182);
}
 
img {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(182, 182, 182);
  }

  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
    li a:hover {
    color: black;
    background-color: rgb(216, 216, 216);
  }

  IMG.myaboutme {
   margin-left: 0;
   margin-right: auto;
   width: 20%;
   border-radius: 40%;
   float: left;
   color: brown;
   }

   title {
     text-decoration-line: underline;
     display:contents;
     float:left;
     text-align: center;
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: 100%;
   }

   h2 {
     float:left;
     text-align: center;
     font-family: Georgia, 'Times New Roman', Times, serif;
   }

   img.myprojects {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    }
  

